.btn {
    background-color: $color-blue-light;
    width: 23.4rem;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);

    transition: all 0.2s;

    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 16px 0px;
        display: inline-block;
        border-radius: 35px;
        text-align: center;

        font-size: 20px;
        line-height: 20px;

        border: none;
        cursor: pointer;
        color: $color-white;
    }

    &:hover {
        transform: translateY(-0.3rem);
        background-color: $color-pink;
    }

    &:active {
        outline: none;
        transform: translateY(-0.1rem);
    }
}

.btn-large {
    width: 35.3rem;

    @include respond(desk-top) {
        width: 20.3rem;
    }
}

.btn-white {
    background-color: $color-white;
    color: $color-blue-light;

    &:hover {
        color: white;
    }
}

.btn-small {
    width: 14.5rem;
}
