//COLORS

$color-white: #ffffff;
$color-white-dark: #f0f0f0;

$color-black: #000000;

$color-blue-dark: #222b32;
$color-blue-dark2: #374754;
$color-blue-light: #3686f7;
$color-blue-light2: #2091f9;
$color-blue-dark3: #252b42;

$color-pink: #ff3cf5;
