body {
    font-family: "Work Sans", sans-serif;
} /*Font-size: lo hemos definido en el archivo _base.scss en el html element*/

//<h2>
.h2 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 5.5rem;
    text-align: center;
    letter-spacing: 0.2px;
    color: $color-white;

    @include respond(tab-port) {
        font-weight: bold;
    }

    @include respond(tab-land) {
        font-weight: bold;
        width: 56.5rem;
    }

    @include respond(desk-top) {
        font-size: 7.4rem;
        font-weight: bold;
        line-height: 8.4rem;
        width: 67.5rem;
    }
}

.phone2 {
    @include respond(desk-top) {
        display: none;
    }
}

.feature2,
.hero2,
.news2 {
    color: $color-blue-dark2;
    font-weight: normal;
}

.hero2-left {
    @include respond(desk-top) {
        text-align: left;
    }
}

.desk2 {
    display: none;

    @include respond(desk-top) {
        display: unset;
        text-align: left;
    }
}

.partner2 {
    @include respond(desk-top) {
        width: 96rem;
    }
}

//<h4>
.h4 {
    font-size: 2.8rem;
    font-weight: 200;
    line-height: 4rem;
    text-align: center;
    letter-spacing: 0.2px;
    color: $color-white;
    margin-top: 2rem;

    @include respond(tab-land) {
        width: 56.5rem;
    }

    @include respond(desk-top) {
        display: none;
    }
}

.desktop4 {
    display: none;

    @include respond(desk-top) {
        display: unset;
        width: 77rem;
    }
}

.feature4,
.hero4,
.news4 {
    color: $color-blue-dark2;
    margin-top: 2rem;

    &-desk {
        display: none;

        @include respond(desk-top) {
            color: $color-blue-dark2;
            display: unset;
            width: 56rem;
        }
    }
}

.hero4-desk--left {
    display: none;

    @include respond(desk-top) {
        color: $color-blue-dark2;
        display: unset;
        width: 56rem;
        text-align: left;
    }
}

.partner4 {
    color: $color-blue-dark2;
    font-size: 2.8rem;
    font-weight: 200;
    line-height: 4rem;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 2rem;

    @include respond(desk-top) {
        width: 56rem;
        margin: 0 auto;
    }
}

.testimonial4 {
    color: $color-blue-dark2;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: Lato;
    letter-spacing: 0.17px;
    line-height: 19px;
    text-align: center;

    width: 29.5rem;

    @include respond(tab-land) {
        width: 46.5rem;
    }

    @include respond(desk-top) {
        width: 55.5rem;
        font-size: 2rem;
        line-height: 27px;
    }
}

//<h3>
.h3 {
    color: $color-blue-dark2;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.1px;
    font-weight: 700;

    @include respond(tab-land) {
        font-size: 2.2rem;
    }
}

.paragraph {
    font-size: 1.8rem;
    color: $color-blue-dark;
    letter-spacing: 0.2px;
    line-height: 2.5rem;
}

/*
link {
    font-size: 1.8rem;
    font-weight: 200;
    color: $color-white;
    text-decoration: none;
}

button {
    font-size: 2rem;
    line-height: 2rem; 
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.2px;
    color: $color-white;
}
*/
