*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
} //100% = 16px, 62.5%=10px (100*10/16px = 62.5%)

body {
    box-sizing: border-box;
}
