.contact {
    width: 35.8rem;
    height: 136rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &_form {
        width: 37.5rem;
        height: 66.9rem;

        box-shadow: 0px 13px 19px 0px #00000012;
        border: 1px solid #dddddd;
        border-radius: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &-box--input {
            width: 28rem;
            height: 5.4rem;
            border: none;
            background-color: #f0f0f0;
            padding: 2rem;
            border-radius: 10rem;
            font-family: inherit;
        }
    }

    .msg {
        height: 19.3rem;
        border-radius: 5px;
        resize: none;
    }

    ul {
        list-style: none;
    }

    .form_label {
        visibility: hidden;
        position: absolute;
    }

    li {
        margin-bottom: 5rem;
    }
}
