.feature {
    height: 159.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & h4,
    h3,
    p {
        margin-top: 2rem;
    }

    &_title {
        width: 28.5rem;
        height: 18.2rem;
    }

    &_items {
        width: 22.5rem;
        height: 92.4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-svg {
            width: 4rem;
            height: 6rem;
            fill: $color-blue-light;
        }
    }
}

video {
    border-radius: 2.4rem;
}
