.footer {
    background-color: $color-blue-dark3;
    height: 150rem;
    width: 100%;

    @include respond(tab-land) {
        height: 75rem;
    }

    @include respond(desk-top) {
        height: 50rem;
    }

    @include respond(big-desk) {
        height: 60rem;
    }

    &_content {
        width: 34.4rem;
        height: 145rem;
        padding-top: 8rem;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond(tab-land) {
            width: 65rem;
            height: 70rem;
        }

        @include respond(desk-top) {
            width: 110rem;
            height: 50rem;
            flex-direction: row;
            align-items: center;
        }

        @include respond(big-desk) {
            width: 120rem;
            height: 60rem;
        }

        &-menu {
            width: 18.4rem;
            height: 94.7rem;
            margin: 0 auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            @include respond(tab-land) {
                width: 64.4rem;
                height: 94.7rem;
                flex-direction: row;
            }

            @include respond(desk-top) {
                width: 68rem;
                height: 30rem;
                justify-content: space-evenly;
                margin: 0;
            }

            &--list {
                height: 26.7rem;
                width: 18.4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                @include respond(desk-top) {
                    align-items: start;
                }
            }
        }
    }

    &_list {
        width: 12.2rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        list-style-type: none;
        cursor: pointer;

        @include respond(desk-top) {
            align-items: start;
        }
    }

    &-box--items {
        flex-direction: row;
        width: 32rem;
        justify-content: space-between;
        gap: 0;
    }
}

.icon--white {
    fill: $color-white;
}

.icon-small {
    width: 3rem;
    height: 3rem;
}

.box2-footer {
    justify-content: space-evenly;

    @include respond(tab-land) {
        height: 84rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    @include respond(desk-top) {
        height: 30rem;
        width: 33rem;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    &-items {
        @include respond(desk-top) {
            flex-direction: column;
            width: 33rem;
            height: 17rem;
        }
    }
}
