.header {
    //Background image
    max-width: 100%;
    height: 100vh;

    background-image: url(../../img/header-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(tab-port) {
        background-image: url(../../img/header-background-grande.png);
        background-position: center;
    }

    //Content
    &_content {
        margin: 0 auto;
        padding-top: 19.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 37.8rem;
        height: 69rem;

        @include respond(desk-top) {
            width: 67.2rem;
            height: 16.8rem;
            padding: 15.5rem;
        }

        & > h4,
        h2 {
            margin-bottom: 3rem;
        }
    }
}
