.header_navbar {
    min-width: 100%; //por alguna razón con min-width no se rompe todo al ponerle position fixed
    height: 11.2rem;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    @include respond(desk-top) {
        justify-content: center;
    }

    /////////////////LOGO
    &-logo--box {
        margin-left: 1.7rem;

        @include respond(tab-port) {
            margin-left: 50%;
            transform: translate(-50%);
        }

        @include respond(desk-top) {
            margin-left: 1.7rem;
            transform: translate(0);
        }
    }

    &-logo {
        width: 18.6rem;
        height: 7.8rem;

        @include respond(tab-port) {
            width: 21.6rem;
            height: 9rem;
        }
    }

    ////////ICONOS SVG
    &-user {
        &-icon {
            width: 4rem;
            height: 4rem;
            fill: $color-white;
        }
    }

    ///////////HAMBURGUESA
    .header_navbar-hamburguer {
        width: 5rem;
        height: 5rem;
        margin: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        #toggle {
            display: none;
        }

        .navigation-button {
            height: 3rem;
            width: 3rem;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .line-1 {
            height: 2.5px;
            width: 2.5rem;
            background-color: $color-white;
            opacity: 1;

            transition: all 0.3s;

            @include respond(tab-port) {
                width: 2.9rem;
            }
        }

        .line-2 {
            position: relative;
            left: 5px;

            height: 2.5px;
            width: 2rem;
            background-color: $color-white;
            opacity: 1;

            transition: all 0.3s;

            @include respond(tab-port) {
                width: 2.32rem;
            }
        }

        .line-3 {
            position: relative;
            left: 10px;

            height: 2.5px;
            width: 1.5rem;
            background-color: $color-white;
            opacity: 1;

            transition: all 0.3s;

            @include respond(tab-port) {
                width: 1.74rem;
            }
        }

        #toggle:checked ~ .navigation-button .navigation-line {
            &:nth-child(1) {
                transform: translateY(9px) rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-8px) translateX(-10px) rotate(45deg);
                width: 25px;

                @include respond(tab-port) {
                    width: 2.9rem;
                }
            }
        }

        @include respond(desk-top) {
            display: none;
        }
    }

    //////////////////MENÚ DESPLEGABLE
    &-menu {
        text-align: center;
        opacity: 0;
        width: 0;
        display: none;

        transition: all 1s ease 1s;

        &--list {
            background-image: linear-gradient(85deg, $color-black, transparent);
            width: 100%;
            padding: 10% 0;
            list-style: none;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @include respond(tab-land) {
                padding: 5% 0;
            }

            &-item {
                margin: 1rem;

                .link {
                    &:link,
                    &:visited {
                        font-size: 2.5rem;
                        font-weight: 200;
                        color: $color-white;
                        text-transform: uppercase;
                        text-decoration: none;

                        @include respond(tab-land) {
                            line-height: 1.5;
                        }
                    }

                    &:active {
                        color: $color-blue-light;
                    }
                }
            }
        }
    }

    &-hamburguer-checkbox:checked ~ &-menu {
        width: 100%;
        opacity: 1;
        position: absolute;
        top: 11.2rem;
        left: 0;
        display: unset;
    }

    /////////////////////////MENÚ DESKTOP
    &-menu2 {
        display: none;

        @include respond(desk-top) {
            display: unset;
        }

        &--list {
            display: flex;
            justify-content: space-around;
            align-items: center;

            list-style: none;
            height: 4.8rem;
            width: 43.7rem;

            &-item {
                margin: 1rem;

                .link {
                    &:link,
                    &:visited {
                        font-weight: 200;
                        font-size: 1.8rem;
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
