.header_navbar {
    min-width: 100%; //por alguna razón con min-width no se rompe todo al ponerle position fixed
    height: 11.2rem;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    /////////////////LOGO
    &-logo--box {
        width: 20.6rem;
        height: 7.8rem;
        margin: 1.7rem;
    }

    &-logo {
        width: 18.6rem;
        height: 7.8rem;
    }

    ///////////HAMBURGUESA
    .header_navbar-hamburguer {
        margin-right: 4rem;

        #toggle {
            display: none;
        }

        .navigation-button {
            height: 3rem;
            width: 3rem;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .line-1 {
            height: 2.5px;
            width: 25px;
            background-color: $color-white;
            opacity: 1;

            transition: all 0.3s;
        }

        .line-2 {
            position: relative;
            left: 5px;

            height: 2.5px;
            width: 20px;
            background-color: $color-white;
            opacity: 1;

            transition: all 0.3s;
        }

        .line-3 {
            position: relative;
            left: 10px;

            height: 2.5px;
            width: 15px;
            background-color: $color-white;
            opacity: 1;

            transition: all 0.3s;
        }

        #toggle:checked ~ .navigation-button .navigation-line {
            &:nth-child(1) {
                transform: translateY(9px) rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-8px) translateX(-10px) rotate(45deg);
                width: 25px;
            }
        }
    }

    //////////////////MENÚ DESPLEGABLE
    &-menu {
        background-image: linear-gradient(85deg, $color-black, transparent);
        text-align: center;

        opacity: 0;
        height: 0;
        width: 0;
        display: none;

        transition: all 1s ease 1s;

        &--list {
            width: 100%;
            padding: 10% 0;
            list-style: none;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &-item {
                margin: 1rem;

                .link {
                    &:link,
                    &:visited {
                        font-size: 2.5rem;
                        color: $color-white;
                        text-transform: uppercase;
                        text-decoration: none;
                        text-shadow: 1px 1px 12px $color-blue-light;
                    }

                    &:active {
                        color: $color-blue-light;
                    }
                }
            }
        }
    }

    &-hamburguer-checkbox:checked ~ &-menu {
        width: 100%;
        opacity: 1;
        height: 32.68rem;
        position: absolute;
        top: 11.2rem;
        left: 0;
        display: unset;
    }
}
