.news {
    height: 110.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include respond(desk-top) {
        max-height: 74rem;
        width: 124.3rem;
        margin: 0 auto;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    &_title {
        width: 35.5rem;
        height: 27.3rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @include respond(tab-port) {
            width: 38.5rem;
        }

        @include respond(tab-land) {
            width: 56.5rem;
        }

        @include respond(desk-top) {
            align-items: start;
            width: 56.5rem;
        }
    }

    &_img {
        width: 39.1rem;
        height: 34.7rem;

        @include respond(desk-top) {
            order: 1;
            width: 50rem;
            height: 50rem;
        }

        &--desk {
            @include respond(desk-top) {
                width: 50rem;
                height: 50rem;
            }
        }
    }

    &_form {
        width: 37.3rem;
        height: 26.1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @include respond(desk-top) {
            max-height: 15.1rem;
            width: 56.5rem;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: start;
        }

        &-input {
            width: 35.3rem;
            height: 5.4rem;
            border: none;
            background-color: $color-white-dark;
            border: 1px solid #e8e8e8;
            padding: 2rem;
            border-radius: 10rem;
            font-family: inherit;

            @include respond(desk-top) {
                margin-top: 3.5rem;
                margin-right: 1rem;
            }
        }
    }
}
